.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

nav {
  margin: 20px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 10px;
}

.nav-links a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  background-color: #ccc;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.nav-links a.active-link {
  background-color: purple;
  color: white;
}

.nav-links a:hover {
  transform: scale(1.1);
}
